.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.env
.env.*
*.p12
*.cer
*.mobileprovision
dist/
output/
